<div>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #C0B535;">
  <a class="navbar-brand" href="#">GuedeaNOTEs</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="notes">Notes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="add">Add</a>
      </li>
      
      
    </ul>
  </div>
</nav>

<div class="container mt-3">
  <router-outlet></router-outlet>
</div>
</div>
