<div class="container">
    <div class="row list">
        <div class="input-group mb-3">
            <input 
            type="text"
            class="form-control"
            placeholder="Search by title"
            [(ngModel)]="title"
            />
        </div>

        <div class="input-group-append float-right">
            <button 
            type="button"
            class="btn btn-primary"
            (click)="searchTitle()"
            >
            Search
            </button>
        </div>
        <div class="input-group-append ml-3 float-right">
            <button 
            type="button"
            class="btn btn-danger"
            (click)="retrieveNotes()"
            >
            All
            </button>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-6">
        <h3>Notes</h3>
        <ul class="list-group">
            <li 
            class="list-group-item"
            *ngFor="let n of notes; let i = index"
            [class.active]="i == currentIndex"
            (click)="setActiveNote(n, i)"
            >
            {{ n.title }}
            </li>
        </ul>

        <button class="btn btn-sm btn-dark mt-3" (click)="removeAllNotes()">
            Remove All
        </button>
    </div>
    <div class="col-md-6">
        <div *ngIf="currentNote">
            <h3>Notes Details</h3>
            <div>
                <label><strong>Title: </strong></label> {{ currentNote.title }}
            </div>
            <div>
                <label><strong>Description: </strong></label> {{ currentNote.description }}
            </div>
            <div>
                <label><strong>Status: </strong></label> {{ currentNote.published ? "Published" : "Pending" }}
                <!-- semi ternary operating -->
            </div>

            <a routerLink="/notes/{{ currentNote.id }}" class="badge badge-warning">Edit</a>
        </div>

        <div *ngIf="!currentNote">
            <br>
            <p>Please click on a Note</p>
        </div>
    </div>

</div>