<div class="container">

    <h3 class="text-center pt-3">Add Some Notes</h3>

    <div class="submit-form">
        <div *ngIf="!submitted">

            <div class="form-group">
                <label>Title</label>
                <input 
                type="text"
                class="form-control"
                id="title"
                required
                [(ngModel)]="note.title"
                name="title"
                />
            </div>

            <div class="form-group">
                <label>Description</label>
                <textarea 
                type="text"
                class="form-control"
                id="description"
                rows="3"
                required
                [(ngModel)]="note.description"
                name="description"
                ></textarea>
            </div>

            <button class="btn btn-danger" (click)="saveNotes()">
                Submit
            </button>

            <div *ngIf="submitted">
                <h4>You submitted successfully</h4>
                <button class="btn btn-success" (click)="newNote()">
                    Add
                </button>
            </div>
        </div>
    </div>
</div>