<div class="container">
    <div *ngIf="currentNote" class="edit-form">
        <h3>Note</h3>

        <form>
            <div class="form-group">
                <label for="title">Title</label>
                <input 
                type="text"
                class="form-control"
                id="title"
                [(ngModel)]="currentNote.title"
                name="title"
                />
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <textarea 
                type="text"
                class="form-control"
                id="description"
                [(ngModel)]="currentNote.description"
                name="description"
                rows="3"
                ></textarea>
            </div>

            <div class="form-group">
                <label><strong>Status: </strong></label>
                {{ currentNote.published ? "Published" : "Pending" }}
            </div>
        </form>

        <button 
        class="badge badge-primary mr-3"
        *ngIf="currentNote.published"
        (click)="updatePublished(false)"
        >
            Unpublished
        </button>

        <button 
        class="badge badge-primary mr-3"
        *ngIf="!currentNote.published"
        (click)="updatePublished(true)"
        >
            Publish
        </button>

        <button class="badge badge-danger mr-3" (click)="deleteNote()">
            Delete
        </button>

        <button type="submit" class="badge badge-succes mr-3" (click)="updateNote()">
            Update
        </button>

        <p> {{ message }}</p>

    </div>

    <div *ngIf="!currentNote">
        <br>
        <p>Cannot access this note</p>
    </div>
</div>